@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--white);
  --color-foreground: var(--black);
  --font-ibm: var(--font-ibm-plex-sans);
  --font-ibm: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: #000000;
    --primary: #d4af37;
    --footer-bg: rgba(212, 175, 55, 0.29);
  }
}

body {
  background: var(--background);
  font-family: var(--font-ibm);
}
